FoamFile
{
    version     2.0;
    format      ascii;
    class       {{ foam_class }};
    object      {{ foam_object }};
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
