{% with foam_class="dictionary", foam_object="surfaceFeaturesDict" %}
{% include "foam_header.jinja" %}
{% endwith %}

surfaces
(
{% for name, filename in geometry_files.items() %}
    "{{ filename }}"
{% endfor %}
);

includedAngle   150;
